<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.newsexplorer" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature android:name="android.hardware.camera"></uses-feature>
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:icon="@mipmap/ic_launcher"
            android:name=".MainActivity"
            android:label="@string/app_name" >


        </activity>
        <activity
            android:icon="@mipmap/ic_launcher"
            android:name=".SignIn"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:icon="@mipmap/ic_launcher"
            android:name=".Signup"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:icon="@mipmap/ic_launcher"
            android:name=".ForgotPassword"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:icon="@mipmap/ic_launcher"
            android:name=".ConfirmRegistration"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:icon="@mipmap/ic_launcher"
            android:name=".UpdateMobileNumber"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:icon="@mipmap/ic_launcher"
            android:name=".sections.EntertainmentNewsSec"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:icon="@mipmap/ic_launcher"
            android:name=".sections.MembersList"
            android:label="@string/app_name" >

        </activity>
        <activity
        android:icon="@mipmap/ic_launcher"
        android:name=".sections.NewsSection"
        android:label="@string/app_name" >

    </activity>
        <activity
            android:icon="@mipmap/ic_launcher"
            android:name=".UserDetails"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:icon="@mipmap/ic_launcher"
            android:name=".sections.DisplayUser"
            android:label="@string/app_name" >

        </activity>


    </application>

</manifest>
